.wrapper {
    position: relative;
    padding-bottom: 20px;
}

footer {
    background-color: #691C32;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


header {
    background-color: #691C32;
    color: #ffffff;
    height: 80px;
    padding: 10px 0;
    text-align: center;
}


.btnclr {
    color: #ffffff;
    background-color: #691C32;
}

.containerF {
    margin-top: -10vh;
}

.btnclr:hover {
    background-color: #982646;
    color: #ffffff;
}

.show-password-icon {
    height: 100%;
    display: flex;
    align-items: center;
}
