@using Microsoft.AspNetCore.Identity
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Documentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/css/documentos.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha384-KyZXEAg3QhqLMpG8r+PW8l5O8R18EJSf5PPSb5l5p5zqo4pE2F5/18z5p5z5E5Q5v5z5g5l5p5z5E5"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-k4GT4mMEkCk4OfF5/MF5Lm5wKj5l5T5u5v5C5n5u5O5x5V5B5r5Z5E5O5W5B5V5E5T5u5C5"
            crossorigin="anonymous"></script>
</head>
<body class="bg-white">
    <h1>Error</h1>

    <div class="alert alert-danger">
        <p>Error al procesar tu solicitud</p>
        <a asp-action="Documentos" asp-controller="Home" class="btn btn-primary">Volver</a>
    </div>
</body>

</html>