@using Microsoft.AspNetCore.Identity
@{
    ViewBag.Title = "Documentos";
    Layout = "_Layout";
}

<div style="color:red">
    <!-- Muestra un mensaje de error en color rojo -->
    <strong>@ViewBag.Error</strong>
</div>
<div style="color:green">
    <!-- Muestra un mensaje de éxito en color verde -->
    <strong>@ViewBag.Succesful</strong>
</div>

<div class="row justify-content-center">
    <div class="col-md-4 mt-4">
        <h4>Expedir documentos:</h4>
        <!-- Descargar PDF -->
        <form method="post" asp-action="DescargarPDF" asp-controller="PDF">

            <h5>Ingresa número de control:</h5>
            <input type="text" class="form-control mb-4" name="idEstudiante" pattern="\d{14}" placeholder="Ej. 20330051420002" required>
            <h5>Tipo:</h5>
            <select id="Selector" name="SelectorSP" class="form-select mb-4">
                <option value="Servicio">Servicio Social</option>
                <option value="Practicas">Prácticas Profesionales</option>
            </select>
            <h5>Trámite:</h5>
            <select id="Selector" name="SelectoAL" class="form-select mb-4">
                <option value="Aceptacion">Carta de aceptación</option>
                <option value="Liberacion">Carta de liberación</option>
            </select>

            <h5>No. de Constancia: </h5>
            <input type="text" class="form-control mb-4" name="noConstancia" required>

            <h5>Iniciales: </h5>
            <input type="text" class="form-control mb-4" name="Iniciales" required>

            <button class="btn w-25 btnclr button-row" type="submit">Descargar PDF</button>
        </form>
    </div>
</div>