@using Microsoft.AspNetCore.Identity

@{
    ViewBag.Title = "Servicio Social";
    Layout = "_Layout";
    List<Institucione> lst = null!;
    using (cbtis223Context db = new cbtis223Context())
    {
        lst = (from d in db.Instituciones
               where d.TipoInstitucion == "Publica"
               select new Institucione
                       {
                           IdInstitucion = d.IdInstitucion,
                           Institucion = d.Institucion,
                           TipoInstitucion = d.TipoInstitucion,
                           Supervisor = d.Supervisor

                       }).ToList();
    }
    List<SelectListItem> items = lst.ConvertAll(d =>
    {
        return new SelectListItem()
                {
                    Text = d.Institucion,
                    Value = d.IdInstitucion.ToString(),
                    Selected = true
                };
    });
}
            <!--Form para estadisticas C.E Especialidad-->
            <form method="post" asp-action="ExportToExcelEspe" asp-controller="Estadisticas">
            <!--Ciclo escolar y especialidad-->
            <div class="row mb-3">
                    <h4 class="mt-4">Expedir Estadisticas para Servicio Social:</h4>
                    <h5>Filtrar por Ciclo Escolar y Especialidad</h5>
                    <div class="col-md-6">
                        <label for="Ciclo" class="form-label"><strong>Ciclo Escolar:</strong></label>
                        <input type="text" class="form-control" pattern="^(19|20)\d{2}-(19|20)\d{2}$" placeholder="Ej. 2022-2023" id="CicloForm" name="CicloForm" title="Formato de fecha incorrecto, Ejemplo: 2022-2023 " required>
                    </div>
                    <div class="col-md-6">
                        <label for="Espe" class="form-label"><strong>Especialidad:</strong></label>
                        <select id="Espe" name="Espe" class="form-select">
                            <option value="PROGRAMACION">PROGRAMACIÓN</option>
                            <option value="CONSTRUCCION">CONSTRUCCIÓN</option>
                            <option value="PREPARACION DE ALIMENTOS Y BEBIDAS">PREPARACIÓN DE ALIMENTOS Y BEBIDAS</option>
                            <option value="DISEÑO GRAFICO DIGITAL">DISEÑO GRÁFICO DIGITAL</option>
                            <option value="ELECTRICIDAD">ELECTRICIDAD</option>
                            <option value="ADMINISTRACION DE RECURSOS HUMANOS">ADMINISTRACIÓN DE RECURSOS HUMANOS</option>
                        </select>
                    </div>
            </div>

            <!--Botones-->
            <div class="row mb-3 mb-4">
                <div class="col-md-6">
                    <button type="reset" class="btn w-25 btnclr button-row ">Limpiar</button>
                </div>
                <div class="col-md-6 text-end">
                    <button type="submit" class="btn w-25 btnclr button-row">Filtrar</button>
                </div>
            </div>
            </form>

            <!--Form para estadisticas C.E Institucion-->
            <form method="post" asp-action="ExportToExcelInsti" asp-controller="Estadisticas">
                <!--Ciclo Escolar--> <!--Institucion-->
                <div class="row mb-3">
                    <h5>Filtrar por Ciclo Escolar e Institución</h5>
                    <div class="col-md-6">
                        <label for="Ciclo" class="form-label"><strong>Ciclo Escolar:</strong></label>
                        <input type="text" class="form-control" pattern="^(19|20)\d{2}-(19|20)\d{2}$" placeholder="Ej. 2022-2023" id="CicloForm" name="CicloForm" title="Formato de fecha incorrecto, Ejemplo: 2022-2023 " required>
                    </div>

                    <div class="col-md-6">
                        <label for="IdInstiServicio" class="form-label"><strong>Selecciona la Institución:</strong> </label>
                        @Html.DropDownList("Insti", items, "", new { @class = "form-select" })
                    </div>
                </div>

                <!--Botones-->
                <div class="row mb-3 mb-4">
                    <div class="col-md-6">
                        <button type="reset" class="btn w-25 btnclr button-row ">Limpiar</button>
                    </div>
                    <div class="col-md-6 text-end">
                        <button type="submit" class="btn w-25 btnclr button-row">Filtrar</button>
                    </div>
                </div>
            </form>