@using Microsoft.AspNetCore.Identity <!-- Framework para la autenticacion de usuarios -->
@model Institucione
@{
    List<Institucione> lst = null!;
    using (cbtis223Context db = new cbtis223Context())
    {
        lst = (from d in db.Instituciones
               where d.TipoInstitucion == "Publica"
               select new Institucione
                       {
                           IdInstitucion = d.IdInstitucion,
                           Institucion = d.Institucion,
                           TipoInstitucion = d.TipoInstitucion,
                           Supervisor = d.Supervisor

                       }).ToList();
    }
    List<SelectListItem> items = lst.ConvertAll(d =>
    {
        return new SelectListItem()
                {
                    Text = d.Institucion,
                    Value = d.IdInstitucion.ToString(),
                    Selected = true
                };
    });


    ViewBag.items = items;
    ViewBag.Title = "Servicio Social";
    Layout = "_Layout";

}

<div style="color:red">
    <!-- Muestra un mensaje de error en color rojo -->
    <strong>@ViewBag.Error</strong>
</div>
<div style="color:green">
    <!-- Muestra un mensaje de exito en color verde -->
    <strong>@ViewBag.Succesful</strong>
</div>

<form method="post" asp-action="InsertarRegistros" asp-controller="Registros">

    <!--Numero de control y Nombre-->
    <div class="row mb-3">
        <h4 class="mt-4">
            Registro de Servicio Social
        </h4>
        <div class="col-md-6">
            <label for="NumeroControl" class="form-label"><strong>Número de Control:</strong></label>
            <input type="text" class="form-control" pattern="\d{14}" placeholder="Ej. 20330051420002" id="NumeroControl" name="NumeroControl" required>
        </div>
        <div class="col-md-6">
            <label for="Nombre" class="form-label"><strong>Nombre(s) del Alumno:</strong> </label>
            <input type="text" class="form-control" pattern="[A-ZÑ_ÁÉÍÓÚÜ ]{2,25}[A-ZÑ_ÁÉÍÓÚÜ ]{0,25}" placeholder="Ej. JUAN CARLOS" id="Nombre" name="Nombre" oninput="this.value = this.value.toUpperCase()" required>
        </div>
    </div>

    <!--Apellidos-->
    <div class="row mb-3">
        <div class="col-md-6 ">
            <label for="AP" class="form-label"><strong>Apellidos del Alumno:</strong></label>
            <input type="text" class="form-control" pattern="[A-ZÑ_ÁÉÍÓÚÜ ]{2,25}[A-ZÑ_ÁÉÍÓÚÜ ]{0,25}" placeholder="Ej. PEREZ" id="Apellidos" name="Apellidos" oninput="this.value = this.value.toUpperCase()" required>
        </div>
    </div>

    <!--CURP y Especialidad-->
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="CURP" class="form-label"><strong>CURP:</strong></label>
            <input type="text" class="form-control" pattern="^[A-Z]{4}\d{6}[A-Z]{6}[A-Z0-9]\d$" placeholder="Ej. PEGJ850315HJCRRN07" id="Curp" name="Curp" title="El formato de la CURP es incorrecto, Ejemplo: PEGJ850315HJCRRN07" required>
        </div>

        <div class="col-md-6">
            <label for="Especialidad" class="form-label"><strong>Especialidad:</strong></label>
            <select class="form-select" id="Especialidad" name="Especialidad" required>
                <option disabled selected>Selecciona una Especialidad</option>
                <option value="PROGRAMACIÓN">PROGRAMACIÓN</option>
                <option value="CONSTRUCCIÓN">CONSTRUCCIÓN</option>
                <option value="PREPARACIÓN DE ALIMENTOS Y BEBIDAS">PREPARACIÓN DE ALIMENTOS Y BEBIDAS</option>
                <option value="DISEÑO GRÁFICO DIGITAL">DISEÑO GRÁFICO DIGITAL</option>
                <option value="ELECTRICIDAD">ELECTRICIDAD</option>
                <option value="ADMINISTRACIÓN DE RECURSOS HUMANOS">ADMINISTRACIÓN DE RECURSOS HUMANOS</option>
            </select>
        </div>
    </div>

    <!--Ciclo Escolar-->
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="Ciclo" class="form-label"><strong>Ciclo Escolar:</strong></label>
            <input type="text" class="form-control" pattern="^(19|20)\d{2}-(19|20)\d{2}$" placeholder="Ej. 2022-2023" id="Ciclo" name="Ciclo" title="Formato de fecha incorrecto, Ejemplo: 2022-2023 " required>
        </div>
    </div>

    <!--Institucion-->
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="IdInstiServicio" class="form-label"><strong>Selecciona la Institución:</strong> </label>
            @Html.DropDownList("IdInstiServicio",items,"",new {@class="form-select"})
        </div>

        <div class="col-md-6">
            <!--Lectura de actividad que realiza el alumno en su servicio-->
            <label for="Actividad_Servicio" class="form-label"><strong>Actividad que Realiza:</strong> </label>
            <input type="text" class="form-control" id="actividad_Servicio" name="actividad_Servicio"
                   oninput="this.value = this.value.toUpperCase()" required>
        </div>
    </div>

    <!--Periodo-->
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="FechaInicio" class="form-label"><strong>Fecha de Inicio:</strong></label>
                <div class="input-group">
                    <input type="date" id="FechaInicio" pattern="\d{4}/\d{2}/\d{2}" placeholder="aaaa/mm/dd" name="FechaInicioServicio" class="form-control" required>
                    <!--<div class="input-group-append">
                        <span class="input-group-text Inicio" id="FechaInicioServicio" name="FechaInicioServicio" style="cursor: pointer;">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                    -->
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="FechaFinal" class="form-label"><strong>Fecha Final:</strong></label>
                <div class="input-group">
                    <input type="date" id="FechaFinal" pattern="\d{4}/\d{2}/\d{2}" placeholder="aaaa/mm/dd" name="FechaTerminoServicio" class="form-control" required>
                    <!--<div class="input-group-append">
                        <span class="input-group-text Fin" id="FechaTerminoServicio" name="FechaTerminoServicio" style="cursor: pointer;">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    <script>
        const input = document.getElementById('FechaInicio');
        input.addEventListener('change', () => {
            console.log(input.value);
        });
        const input2 = document.getElementById('FechaFinal');
        input2.addEventListener('change', () => {
            console.log(input2.value);
        });
    </script>

    <!--Botones Limpiar y Registrar-->
    <div class="row mb-3 mb-4">
        <div class="col-md-6">
            <button type="reset" class="btn w-25 btnclr button-row ">Limpiar</button>
        </div>
        <div class="col-md-6 text-end">
            <button type="submit" class="btn w-25 btnclr button-row">Registro</button>
        </div>
    </div>

</form>