@using Microsoft.AspNetCore.Identity
@model Institucione
@{
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    ViewBag.Title = "Prácticas Profesionales";
    Layout = "_Layout";
}

<div style="color:red">
    <!-- Muestra un mensaje de error en color rojo -->
    <strong>@ViewBag.Error</strong>
</div>
<div style="color:green">
    <!-- Muestra un mensaje de exito en color verde -->
    <strong>@ViewBag.Succesful</strong>
</div>
            <form method="post" asp-action="obtenerDatos" asp-controller="Registros2">

                <!--Numero de control y Nombre-->
                <div class="row mb-3">
        <h4 class="mt-4">Registro de Prácticas Profesionales</h4>
                    <div class="col-md-6">
                        <label for="NumeroControl" class="form-label"><strong>Número de Control:</strong></label>
                        <input type="text" class="form-control" placeholder="Ej. 20330051420002" id="NumeroControl" name="NumeroControl" required>
                    </div>
                </div>

                <!--Botones-->
                <div class="row mb-3 mb-4">
                    <div class="col-md-6 mb-3">
                        <button type="reset" class="btn w-25 btnclr button-row">Limpiar</button>
                    </div>
                    <div class="col-md-6 mb-3 text-end">
                        <button type="submit" class="btn w-25 btnclr button-row">Buscar Alumno</button>
                    </div>
                </div>

            </form>
